<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button
      color="dark">
    </ion-back-button>
  </ion-buttons>
  <ion-title class="titulos-toolbar">Evento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <img src="assets/duoc.jpg" style="width: 500px;" />
  <div style="text-align: center; padding: 5px;">
    <h1>Evento Gamer Duoc</h1>
    <h3>Informacion</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa tempora deserunt voluptatum cum saepe, quos ipsam aspernatur repudiandae deleniti reiciendis aperiam placeat sed rerum ducimus accusantium atque voluptatem quod?
    Ducimus facilis ipsa, qui rerum provident alias harum pariatur, fugiat vitae aliquam amet unde, architecto consequuntur quibusdam officiis quisquam sunt minima libero corrupti hic tenetur et blanditiis. Veritatis, dicta quae.
    Beatae porro quas suscipit, sequi mollitia ex, et quaerat voluptatem delectus eius nostrum doloribus amet vero ducimus animi ipsam unde saepe commodi quibusdam aut. Dolor minus placeat saepe obcaecati tempora?</p>
  </div>

  <ion-button expand="block" (click)="setOpen(true)">Entrada QR</ion-button>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Entrada evento</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <img src="assets/QR_DUOCUC.png" >
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>




</ion-content>
