<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulos-toolbar">Mis eventos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <!-- muestra la informacion del evento que se selecciono -->
  <ion-card *ngIf="evento">
    <img [src]="evento.src" alt="Imagen de evento" style="width: 500px;"/>
    <ion-card-header>
      <div style="text-align: center; padding: 5px;">
        <h1>{{ evento.nombreEvento }}</h1>
        <h3>Fecha: {{ evento.fechaEvento }}</h3>
        <h3>Hora: {{ evento.hora }}</h3>
        </div>
    </ion-card-header>
    <ion-card-content>
      <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa tempora deserunt voluptatum cum saepe, quos ipsam aspernatur repudiandae deleniti reiciendis aperiam placeat sed rerum ducimus accusantium atque voluptatem quod?
        Ducimus facilis ipsa, qui rerum provident alias harum pariatur, fugiat vitae aliquam amet unde, architecto consequuntur quibusdam officiis quisquam sunt minima libero corrupti hic tenetur et blanditiis. Veritatis, dicta quae.</p> -->
    </ion-card-content>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-button expand="block" (click)="setOpen(true)">Entrada QR</ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- en esta parte se muestra un modal con el qr del evento -->
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Entrada evento</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <div *ngIf="qrData" style="text-align: center;">
              <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>




</ion-content>
