<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulos-toolbar">Mis actividades</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="menu-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Muestra todos los eventos que tenga registrada la persona -->
  <ion-card *ngFor="let evento of eventos">
    <img [src]="evento.src" alt="Imagen de evento"/>
    <ion-card-header>
      <ion-card-title>{{ evento.nombreEvento }}</ion-card-title>
      <ion-card-subtitle>{{ evento.hora }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Estas registrado en este evento.
    </ion-card-content>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
          <ion-button (click)="linkToEvento(evento)" class="boton-eventos">Informacion</ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
